# Uncomment these types if you want even more clean repository. But be careful.
# It can make harm to an existing project source. Read explanations below.
#
# Resource files are binaries containing manifest, project icon and version info.
# They can not be viewed as text or compared by diff-tools. Consider replacing them with .rc files.
#*.res
#
# Type library file (binary). In old Delphi versions it should be stored.
# Since Delphi 2009 it is produced from .ridl file and can safely be ignored.
#*.tlb
#
# Diagram Portfolio file. Used by the diagram editor up to Delphi 7.
# Uncomment this if you are not using diagrams or use newer Delphi version.
#*.ddp
#
# Visual LiveBindings file. Added in Delphi XE2.
# Uncomment this if you are not using LiveBindings Designer.
#*.vlb
#
# Deployment Manager configuration file for your project. Added in Delphi XE2.
# Uncomment this if it is not mobile development and you do not use remote debug feature.
#*.deployproj
#
# C++ object files produced when C/C++ Output file generation is configured.
# Uncomment this if you are not using external objects (zlib library for example).
#*.obj
#

# Default Delphi compiler directories
# Content of this directories are generated with each Compile/Construct of a project.
# Most of the time, files here have not there place in a code repository.
#Win32/
#Win64/
#OSX64/
#OSXARM64/
#Android/
#Android64/
#iOSDevice64/
#Linux64/

# Delphi compiler-generated binaries (safe to delete)
*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.a
*.o
*.ocx

# Delphi autogenerated files (duplicated info)
*.cfg
*.hpp
*Resource.rc

# Delphi local files (user-specific info)
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk

# Delphi history and backups
__history/
__recovery/
*.~*

# Castalia statistics file (since XE7 Castalia is distributed with Delphi)
*.stat

# Boss dependency manager vendor folder https://github.com/HashLoad/boss
modules/
desktop.ini
conexao_banco/Project1.dpr
conexao_banco/Project1.dproj
conexao_banco/Project1.res
conexao_banco/Unit1.dfm
conexao_banco/Unit1.pas
OracleConnectionTest/adrci.sym
OracleConnectionTest/BASIC_LICENSE
OracleConnectionTest/BASIC_README
OracleConnectionTest/genezi.sym
OracleConnectionTest/main.dfm
OracleConnectionTest/main.pas
OracleConnectionTest/oci.sym
OracleConnectionTest/ocijdbc19.sym
OracleConnectionTest/ociw32.sym
OracleConnectionTest/ojdbc8.jar
OracleConnectionTest/OracleConnectionTest.dpr
OracleConnectionTest/OracleConnectionTest.dproj
OracleConnectionTest/OracleConnectionTest.res
OracleConnectionTest/oramysql19.sym
OracleConnectionTest/orannzsbb19.sym
OracleConnectionTest/oraocci19.sym
OracleConnectionTest/oraocci19d.sym
OracleConnectionTest/oraociei19.sym
OracleConnectionTest/orasql19.sym
OracleConnectionTest/tnsnames.ora
OracleConnectionTest/ucp.jar
OracleConnectionTest/uidrvci.sym
OracleConnectionTest/xstreams.jar
