html {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: fit-content;
}

body {
    background-image: url(../components/images/background.jpg);
    background-repeat: no-repeat;
}

h1,
h2,
h4,
pre {
    color: aliceblue;
}

h3 {
    color: rgb(179, 185, 155);
}

span {
    color: blueviolet;
}

main {
    padding: 16px;
}

main h3 {
    display: flex;
    align-items: center;
}

pre {
    overflow-x: auto;
}

li {
    color: aliceblue;
}


.pix {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: aliceblue;    
}
 
#list {
    margin-left: 50px;
}

#nubank {
    width: 130px;
    height: 80px;
    align-items: center;
    margin: 0 0 0 30px;
}

#container {
    background-image: linear-gradient(103.24deg, rgba(0, 8, 20, 0.3) 23.83%, rgba(0, 8, 29, 0.3) 96.1%);
    /*background-image: url(../components/images/background.jpg);*/
    background-size: cover;
    border: none;
    padding: 10px;
    margin: 0 0 50px 0;
}

#logo-mega {
    width: 160px;
}

#logo-siac {
    width: 200px;
}

#qrcode {
    width: 200px;
}

#zap {
    margin: 30px;
    width: 200px;
}

#grupozap {
    color: green;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

#GpZap {
    color: green;
}


#list {
    color: rgb(179, 185, 155);
}


#list {
    border: 2px solid rgb(71, 87, 231);
    padding: 10px;
    border-radius: 15px;
}

#list:hover {
    background-color: rgb(240, 241, 247);
    color: rgb(23, 9, 224);
}

@media screen and (max-width: 768px) {
    html {
        height: unset;
    }

    body {
        background-repeat: repeat;
        background-size: unset;
    }

    h1 {
        font-size: 45px;
    }

    h2 {
        margin: 10px 0 10px 0;
    }

    .pix {
        display: flex;
        flex-direction: column;
        align-items: start;
    }    

    #logo-siac {
        width: 350px;
    }

    #header {
        flex-direction: column;
        height: 45vh;
    }
}
